[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hossainemruz/toha.git
[submodule "popiula.github.io"]
	path = popiula.github.io
	url = https://github.com/popiula/popiula.github.io
